@media screen and (min-width: 750px) {
    .business {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 0 20px;
    }
    .vehicles {
        grid-column:2/5;
    }

    .vehicles img {
        max-width: 350px;
    }
    .adventure {
        grid-column:1/2;
        grid-row: 1/2;
    }
    .rental h2 {
        text-align: center;
    }
    .options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .options img {
        margin: 0 auto;
        max-width: 35opx;
    }
    .table h2 {
        text-align: center;
    }
    }