@media screen and (min-width: 500px) {
.business {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0 20px;
}
.vehicles {
    grid-column:2/5;
}
.adventure {
    grid-column:1/2;
    grid-row: 1/2;
}

.navigation {
    display: flex;
  }
  
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 100%;
  }

  .navigation a {
    text-align: center;
  }

#menu {
    display: none;
  }

  .scoots-footer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
  }

}