@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato&display=swap");

:root {
  --primary-color: #386641;
  --secondary-color: #6A994E;
  --lightest-color: #F2E8CF;
  --dark-text-color: #F2E8CF;
  --accent-color: #BC4749;
  --secondary-accent: #A7C957;
  --dark-background-color: black;
}

header {
    background: var(--primary-color);
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

h1 {
    font-family: "Lato";
    font-size: 3.5rem;
    color: var(--lightest-color);
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

#menu {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: var(--lightest-color);
}
  
#menu::before {
    content: "≡";
}
  
nav {
    background-color: var(--lightest-color);
}

a:visited {
    color: black;
}

.navigation a:hover,
.navigation a:active {
    color: black;
    background-color: var(--secondary-color);
}
  
.navigation {
    list-style: none;
    margin: 0 auto;
    font-family: "Crimson Text";
    font-size: 1.5rem;
}

.navigation li {
    display: none;
}
  
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
}
  
main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    padding: 2rem;
    background-color: white;
}
.hero {
    
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
.herolabel {
    position: absolute;
    top: 25px;
    right: 25px;
    background: radial-gradient(#fff, #A7C957);
	border: 1px solid rgba(0,0,0,.75);
    padding: .5rem;
	box-shadow: 0 0 1rem #fff;
	opacity: 0.75;   
}
  
.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Crimson Text", Helvetica, sans-serif;
}

.card {
    grid-column: 1 /3;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card ul {
    font-family: "Crimson Text", Helvetica, sans-serif;
    padding: 1rem 2rem;
    list-style: none;
}

.card h3 {
    font-size: 1.5rem;
    font-family: "Crimson Text", Helvetica, sans-serif;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--secondary-color);
}

.card p {
    font-family: "Crimson Text", Helvetica, sans-serif;
    text-align: center;
}

.spotlight {
    font-family: "Crimson Text", Helvetica, sans-serif;
    grid-column: 1/3;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.spotlight h3 {
    font-size: 1.5rem;
    font-family: "Crimson Text", Helvetica, sans-serif;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--secondary-color);
}

.spotlight ul {
    font-family: "Crimson Text", Helvetica, sans-serif;
    padding: 1rem 2rem;
    list-style: none;
}
  
footer {
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
    font-family: "Lato", Helvetica, sans-serif;
}
  
.show li {
    display: block;
}
  
#menu.show::before {
    content: "X";
}
  
.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

.dark h3 {
    color: black;
  
}
  
  .dark footer {
    color: black;
}

.discover-main div {
	padding: 1rem;
	margin: 1rem;
}
.discover-cards  div {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 1rem;
	padding: 1rem;
	
}
.discover-gallery {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.discover-gallery p{
	font-size: 1.2rem;
}
.discover-gallery img{
	object-fit: cover;
    width: 100%;	
	overflow: auto;	
}

.discover-cards p{
	padding: 1rem;
	text-align: left;

}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid section >* {
	margin: 0.1rem;
}




  